// * ********************************************************************************************************* *
// *
// * Copyright (c) 2019 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../sourceFilesMap";

.BrowserErrorPage {
  position: fixed;
  width: 100%;

  .Image {
    background: $IO_VISION_SDK_STUDIO_SERVICES_BROWSER_ERROR no-repeat;
    float: none;
    height: 417px;
    margin: auto;
    padding: 50px;
    position: relative;
    top: 14px;
    width: 421px;
  }

  h1,
  h2,
  a {
    text-align: center;
  }

  h1 {
    color: $IO_VISIONSDK_BLACK;
    font-family: "Lato", sans-serif;
    font-size: 40px;
  }

  h2,
  a {
    color: $IO_VISIONSDK_GRAY_DARK_7;
    font-family: "LatoThin", sans-serif;
  }

  a {
    color: $IO_VISIONSDK_GREEN;
  }
}
